*{
    padding:0px;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: ivory;
    background-image: url('images/bg.jpeg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    position: fixed;
    height: 100%;
    width: 100%;
    margin: auto;
    background-image: url(images/wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0px;
}

nav{
    padding: 1%;
    display:block;
    width: 60%;
    justify-content: space-between;
    position:fixed;
    margin: auto;
    height: 40%;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: black;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}

nav ul li a:hover{
    color: red;
}

.detail{
    margin-top: 21%;
    margin-left: 15%;
}

.detail h1{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 30px;
    color: black;
    font-family:'Times New Roman', Times, serif;
}

.detail p{
    color: brown;
    line-height: 20px;
    font-style: italic;
    font-size: 30px;
}

span{
    color: red;
    font-family: 'Times New Roman', Times, serif;
}

.detail a{
    padding: 20px;
    margin: 10px;
    font-style: normal;
    font-weight: bold;
    background: black;
    color:cornsilk;
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
}

.photo{
    height: 45%;
    width: 100%;
    position:absolute;
    top: 30%;
    left: 60%;
} 

.section{
    min-height: 100vh;
    background-image: url(images/wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero{
    width: 80%;
    margin: auto;
    padding: 30px 0px;
}

form{
    width: 90%;
    max-width: 600px;
}

.hero h1{
    font-size: 30px;
    text-transform: uppercase;
    color: black;
    text-align: center;
    margin-top: 5%;
}

.hero h2{
    font-size: 25px;
    font-weight: 500;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

article img{
    max-width:30%;
    border: 2px;
    border-radius: 3%;
    margin-top: 250px;
    position: relative;

}

.hero h3{
    font-style:normal;
    font-size: 1.9rem;
    font-weight: 100;
    position: relative;
    left: 12%;
    top: 430px;
    line-height: 20px;
    margin: 0;
    justify-items: center;
    line-height: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    background-image: url(wallpaper.jpg);
    background-position:inherit;
    background-size:cover;
    background-attachment: fixed;
    width: 100%;
    align-items: center;
    justify-content: center;
    display:flex;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.container h1{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    color: black;
    font-family:'Times New Roman', Times, serif;
    align-items: center;
    text-align: center;
    top: 150px;
    position: absolute;
}

.container p{
    color: brown;
    line-height: 20px;
    font-style:normal;
    font-size: 20px;
    align-items: center;
    text-align: center;
    top: 220px;
    position: absolute;
    font-size: large;
}

.input-group{
    margin-bottom: 40px;
    position: relative;
    background-color: transparent;
    top: 100px;
    font-size: large;
    font-style: normal;
    font-weight: bold;
}

input, textarea{
    padding: 10px;
    width: 100%;
    background: transparent;
    outline: 0;
    border: 1px solid black;
    font-size: 15px;
    border-radius: 5px;
}

button{
    padding: 10px 0;
    border: 3px;
    cursor: pointer;
    background-color: transparent;
    width: 104%;
    margin-bottom: 50%;
    font-size: medium;
    background-attachment: fixed;
}

#project{
    background-image: url(wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 110vh;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 9px;
    font-size: medium;
    padding: 0;
    margin: 0;
}

.maintext h2{
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.maintext p{
    text-align: center;
    color: brown;
    font-size: 20px;
}

.project-heading h3{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.wrapper{
    margin: 130px auto;
    width: 80%;
    justify-items: center;
    text-align: center;
    line-height: 85px;
}

img{
    max-width: 320px;
    float: left;
    border: 3px solid black;
}

.text-box{
    color: black;
}

.text-box h1{
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    text-align:center;
}